In [38]:
import pandas as pd

df_contracts = pd.read_csv("contracts.csv", header=0)
df_transactions = pd.read_csv("transactions.csv", header=0)

print(df_contracts.head(10),"\n")
print(df_transactions.head(10))

df_transactions.fillna(0, inplace=True)

   contract_id  client_id      client_name  percentage  is_active
0            3       3545   Magazine Luana        2.00       True
1            4       3545   Magazine Luana        1.95      False
2            5       3509  Lojas Italianas        1.00       True
3            6       3510       Carrerfive        3.00       True

   transaction_id   client_id  total_amount  discount_percentage
0                1       3545          3000                 6.99
1                2       3545          4500                 0.45
2                3       3509         69998                 0.00
3                4       3510             1                  NaN
4                5       4510            34                40.00

In [39]:
def calculate_liquid_value(amount, percentage):
    return amount - (amount * (percentage / 100)) 
    
df_transactions['liquid_value'] = df_transactions.apply(lambda row : calculate_liquid_value( row['total_amount'], row['discount_percentage']), axis = 1)
df_transactions = df_transactions[["client_id", "liquid_value"]]
df_transactions

   client_id  liquid_value
0       3545       2790.30
1       3545       4479.75
2       3509      69998.00
3       3510          1.00
4       4510         20.40

In [51]:
df = pd.merge(df_transactions, df_contracts, on=['client_id','client_id']).query("is_active != False ").eval("liquid_value * (percentage/100)")
total = sum(df)
total

845.4110000000001